<h1>Make an account. Register here. Managers don't need to reg, though</h1>

<div class="container">
  <h2>User registration</h2>
  <form role="form">
  	<div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" placeholder="Username">
    </div>
  	<div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password">Confirm password:</label>
      <input type="password" class="form-control" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>

  Already have an account? <a href="#/login">Log-in here</a>
</div>

<!--Anyone registering needs to go into the database as a CUSTOMER-->
<!--Managers DO NOT register. EVER. They are prepopulated-->
<!--If a manager wants to act as a customer, they must register a seperate account-->