<div class="container">	
	    <h1>Search Room</h1>
        <div class="form-group">
        	<label for="location">Location:</label>
            <select>
                <option value="Atlanta">Atlanta</option>
                <option value="Charlotte">Charlotte</option>
                <option value="Savannah,">Savannah</option>
                <option value="Orlando">Orlando</option>
                <option value="Miami">Miami</option>
            </select>
        </div>
      <!--   http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_input_date_get -->
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" value="2015-12-10">
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" value="2016-01-01">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
</div>




    
